{% extends 'base.html' %}

{% block title %} blogHome {% endblock title %}

{% block js %}
<script>
    Let previews = document.getElementsByClassName('preview');
    Array.from(previews).forEach((element)=>{
        element.innerHTML = element.innerText;
    })
</script>
{% endblock js %}

{% block body %}
<div class="container my-3">
    <h3> Coding article by iCode</h3> <br>
    {% for post in allPosts %}
    <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">Article by {{post.author}}</strong>
            <h3 class="mb-0"><a class="text-dark" href="/blog/{{post.slug}}">{{post.title}}</a></h3>
          <div class="mb-1 text-muted">{{post.datetime}}</div>
          <p class="card-text mb-auto"><div class="preview"> {{post.content|safe| truncatechars:500}}</div></p>
            <div><a href="/blog/{{post.slug}}" class="btn btn-success my-3">Continue reading</a> </div>
        </div>
        <div class="col-auto d-none d-lg-block">
        <img src="/static/{{post.image}}"  width="250px" height="250px">
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
